<p>
    <h4>

    Here we consider the calorie and nutritional value (protein, fat and carbohydrates) of food eaten within a certain
      period - day, week, month e.c.<br><br>

    In fact, we are in a diary and make corrections in the diet in order to achieve certain goals.<br><br>

    The aim of the project is the organization of a healthy diet and weight control.<br><br>
   </h4>
</p>

