<div class="container" xmlns="http://www.w3.org/1999/html">

  <p id="notice"><%= notice %></p>

  <h2 class="green_title">Listing Articles</h2>

  <div class="row">
    <div class="col-sm-12" style="background-color:lavender;">
      <% @articles.each do |article| %>

          <ul class="article_list">
            <li>
              <div><%= (article.created_at.strftime('%Y-%b-%d')) if article.created_at.present? %></div>

              <div><%= article.title %></div>

              <div><%= truncate(article.content) if article.content.present? %></div>


            </li>
          </ul>

      <% end %>
      <br><br>
    </div>
  </div>
</div>
