<header>
  <div>
    <%= image_tag 'eatcalc_header.png', class: 'header' %>
    <nav>
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#">HOME</a></li>
        <li><a href="#">EVERYDAY LOG</a></li>
        <li><a href="#">DAY, WEEK, MONTH REVIEW</a></li>
        <li><a href="#">READY MEALS CALORIES CALCULATION</a></li>
        <li><a href="#">BLOGS & INFO</a></li>
      </ul>
    </nav>
  </div>

</header>

