<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" align="center" style="background-color:lavender;">
        <%= image_tag 'eatcalc_header.png', class: 'header' %>
      </div>
      <div class="pull-right">
        <div class="col-sm-12" align="center">
          <nav>
            <ul class="nav nav-pills" role="tablist">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">EatLog</a></li>
              <li><a href="#">Analysis</a></li>
              <li><a href="#">ReadyMealsCalc</a></li>
              <li><a href="#">Blogs&Info</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

